In [1]:
##Stats Packages
from Stats_Package.stats_descriptives_module import freqs, desc, xtab_cols, xtab_rows, xtab_all 
from Stats_Package.stats_analysis_module import chi_sq, chisq_posthoc_bon, ttest_1sample, ttest_2sample, ttest_paired, KW_shape_assumption, corr_pearson

In [ ]:
#NEED THIS FOR DF 
import pandas as pd
import numpy as np

In [ ]:
##trying things - have to write package name in front.
#from Stats_Package_TEST.stats_descriptives_module import *
#from Stats_Package_TEST.stats_analysis_module import *

In [ ]:
#create test df
df = pd.DataFrame({'one': [1,2,3,4], 'two': [4,5,6,7], 'three': ['cat', 'dog', 'birb', 'mouz'], 'four' : [4,4,4,4], 'five': ['', 'a', 'c', 'c']})
df

In [ ]:
#test freqs from descriptives
freqs(df, ['three'], False)

In [ ]:
#test chisq from analysis
chi_sq(df, ['three'], 'one', 0.05)

In [ ]:
xtab_cols(df, ['five'], 'three')

In [ ]:
df['five'] = np.where(df['five'] == '', np.nan, df['five'])
df

In [ ]:
xtab_cols(df, ['five'], 'three')